{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success"><i class="fa fa-edit"></i> {{ button_label|default('Sauvegarder') }}</button>
    <a class="btn btn-primary" href="{{ path('photo_admin_index') }}">Retour</a>
{{ form_end(form) }}
