{{ form_start(form) }}

{{ form_errors(form) }}

<div class="row" id="contact">
    <div class="col">
        <div class="form-group">
            <label for="photoTitle">Titre</label>
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="photoDescription">Description</label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="photoDescription">Sélectionnez votre image</label>
            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
    <button class="btn btn-success">
        <i class="fa fa-edit"></i>
        {{ button_label|default('Sauvegarder') }}</button>
    <a class="btn btn-primary" href="{{ path('photo_admin_index') }}">Retour vers photos</a>
{{ form_end(form) }}
