{% extends 'base-admin.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}
    <h1>Liste des Photos</h1>
    <a href="{{ path('photo_new') }}" class="btn btn-success btn-lg mb-3">Mettre en ligne une photo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>File</th>
                <th>Créé le</th>
                <th>Aperçu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td>{{ photo.titre }}</td>
                <td>{{ photo.description }}</td>
                <td>{{ photo.file }}</td>
                <td>{{ photo.createdAt ? photo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><img src="{{ vich_uploader_asset(photo) }}" alt="" style="width: 100px; height: 100px;"></td>
                <td>
                    <a href="{{ path('photo_edit', {'id': photo.id}) }}" class="btn btn-success mb-1 btn-sm"> <i class="fa fa-pencil-alt"></i> Modifier</a>
                    <a href="{{ path('photo_delete', {'id': photo.id}) }}" class="btn btn-danger mb-1 btn-sm"> <i class="fa fa-trash"></i> Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
