{% extends 'base-admin.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    <h1>Photo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Photo</th>
                <td><img src="{{ vich_uploader_asset(photo) }}" alt="" style="width: 100px; height: 100px;"></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ photo.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ photo.description }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ photo.file }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ photo.createdAt ? photo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour le</th>
                <td>{{ photo.updateAt ? photo.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('photo_admin_index') }}" class="btn btn-primary mb-1 btn-sm">Retour</a>
    {{ include('photo/_delete_form.html.twig') }}
{% endblock %}
